numpy==1.23.3
scipy==1.9.1
pandas==1.5.0
matplotlib==3.6.0
Pillow==9.2.0
scikit-image==0.19.3
imageio==2.22.0
tifffile==2022.8.12
imagecodecs==2024.1.1
scikit-learn==1.1.2
umap-learn==0.5.3
tqdm==4.63.0
xmltodict==0.13.0
lxml==4.9.1
openpyxl==3.1.2
tensorboard==2.10.0
huggingface_hub[torch]==1.7.2
